body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 200%;
}

h1{
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
   
}
.top-container{
    background-color: #E4F6F6;
    position: relative;
    padding-top: 100px;
}
.middle-container{
   margin: 100px;
    
}
.bottom-container{
    margin: 0;
    background-color: #66BFBF;
    position: relative;
    
   
}

.pro{
    text-decoration:underline ;
}

.top-cloud{
    position: Absolute;
    right:  300px;
    top: 50px;
}
.bottom-cloud{
    position: Absolute;
    left: 300px;
    top: 400px;
}
.skill-row{
    text-align: left;
    width: 50%;
    margin: 100px auto 100px auto;
    /* display: inline-block; */
    line-height: 2;
}
.fire{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.code{
    width: 25%;
    float: left;
    margin-right: 30px;    
}
/* .para-design-discription{
    clear: left;
}
.para-design-discription2{
    clear: right;
} */
.footer-link{
  margin-right: 100px;
    line-height: 6;
    color: #11999E;
}
.last-para{
    color: #EAF6F6;
    margin: 0px;
    padding-bottom: 100px;
}
p{
   color: #40514E; 
   margin: 100px;
   
   margin: auto;
   line-height: 2;
   
}
.btn{
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    
}
.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
hr{
    background-color: white;
    border-style: dotted none none;
    
    width: 5%;
    border-width: 8px;
    border-color: gray;
    
}